# macOS                                                                                                                
.DS_Store                                                                                                              
                                                                                                                         
# Xcode                                                                                                                
build/                                                                                                                 
DerivedData/                                                                                                           
*.xcuserstate                                                                                                          
xcuserdata/                                                                                                            
                                                                                                                         
# Documents                                                                                                            
*.docx                                                                                                                 
*.pdf         

.claude